* {
    all: unset;
    font-family: feather;
    font-family: Iosevka;
    font-family: Font Awesome;
    background: rgba(0,0,0,0);
}

.appbox {
    background-color: #2E3440;
    border-radius: 20px;
    margin : 8px 8px 8px 8px;
    padding : 8px 8px 8px 8px;
}

.app {
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border-radius: 15px;
    min-height: 50px;
    min-width: 50px;
    padding: 10px 10px 10px 10px;
}

@keyframes size-increase {
    from {
        background-size: 50px;
    }
    to {
        background-size: 65px;
    }
}

.app:hover {
    background-color: #61AFEF;
    animation: size-increase 500ms forwards;
}

@keyframes size-decrease {
    from {
        background-size: 65px;
    }
    to {
        background-size: 50px;
    }
}

.app:not(:hover) {
    animation: size-decrease 500ms forwards;
}
